form
  input type="text" name="name" placeholder="name" ng-model="pet.name"
  input type="text" name="comments" placeholder="comments" ng-model="pet.comment"
  input type="button" value="create" ng-click="create()"
