@import "foundation_and_overrides";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

//@import 'foundation-icons';

body {
  font-family: 'Asap';
}

a {
  font-family: 'Asap';
  font-size: emCalc(11px);
  color: $alert-color;
}

p {
  font-size:emCalc(12px);
}

.small-view {
  border-radius: 10px 10px 10px 10px;
  border: 1px solid silver;
  padding: 5px 5px 5px 5px;
  font-family: Asap;

  background-color: #efefef;
  h4 {
    background-color: $alert-color;

    color:  #000000;
    text-shadow: 4px 2px 7px;
    border-radius: 10px 10px 10px 10px;
  }

  button {
    border: 1px solid $primary-color;
    font-family: 'Asap';
    width: 80%;
  }

}

#search_box {
  background-color: #e6e6e6;
  border: 1px solid silver;
  border-radius: 15px;
  text-align: center;
  input,select,option {
    text-align: center;
  }
  button {
    widht: 75%;
  }
}

.recommendations {
  border: 1px solid black;
  background-color: silver;
}
#dialog_data {

  p {
  }

}
.ciudad {

  display: inline-block;

}

#top_filter {
  display: inline-block;
}

.pet-small {
  boder: 3px solid red;
  text-align: left;
  margin-left: 10px;
}

.angular-google-map-container {
  height: 400px;
  border: 5px solid silver;
  border-radius: 10px 10px 10px 10px;
}

#map {
  border: 5px solid silver;
  border-radius: 10px 10px 10px 10px;
}
