@import "bourbon";
@import "foundation_and_overrides";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Asap:400,700);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Changa+One);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

//@import 'foundation-icons';

body,p {
  font-family: 'Quicksand',  sans-serif;
  font-style: Bold;
}


button,.button {
  border-radius: 5px 5px 5px 5px;
  border-color: 15px solid #000000;
  font-family: 'Quicksand',  sans-serif;
  font-style: Bold;
}

.call_to_action {
  font-family: 'Changa One', cursive;;
  color: #000000;
  text-shadow: 1px 2px 3px #000000;
  font-size:emCalc(22px);
}

h1 {
  font-family: 'Changa One', cursive;
  font-size:emCalc(81px);
}

h2 {
  font-family: 'Changa One', cursive;
  font-size:emCalc(31px);
}

form {

  label {

    font-size:emCalc(11px);
  }
  font-size:emCalc(11px);

  input {
    background-color: $secondary-color;
    color: silver;
  }

}

a {
  font-family: 'Asap';
  font-size: emCalc(11px);
  color: $alert-color;
}

p {
  font-size:emCalc(12px);
}

.box {

  width: 500px;
}

.arrow {
 font-size: emCalc(30px);
}

.small-view {
  border: 1px solid silver;
  margin: 10px;
  width: 400px;
  text-align: justify;
  font-size: emCalc(14px);
  font-family: 'Quicksand',  sans-serif;

  @include box-shadow(0 0 7px 2px silver);
  strong {

  }
  img {
    padding: 0px;
    margin-right: 5px;
    border: 2px solid silver;
    border-radius: 0px 70px 70px 0px;
  }

  h4 {
    display: block;
    font-family: 'Changa One', cursive;
    font-size:emCalc(21px);
  }


  button {
    border: 1px solid $primary-color;
    font-family: 'Asap';
    width: 80%;
  }

}

#search_box {
  font-family: 'Asap';
  border: 1px solid silver;
  border-radius: 1px;
  text-align: center;
  @include box-shadow(0 0 7px 2px silver);
  input,select,option {
    text-align: center;
    font-family: 'Changa One', cursive;
  }
  button {
    widht: 55%;
  }
}

.recommendations {
  border: 1px solid black;
  background-color: silver;
}
#dialog_data {

  p {
  }

}
.ciudad {

  display: inline-block;

}

#top_filter {
  display: inline-block;
}

.pet-small {
  boder: 3px solid red;
  text-align: left;
  margin-left: 10px;
}

.upload_image {
  border: 3px solid silver;
}

.angular-google-map-container {
  height: 400px;
  border: 1px solid silver;
}

#map {
  border: 1px solid silver;
  @include box-shadow(0 0 5px 1px silver);
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}
button{
  text-transform: uppercase;
  border:1px solid #171717;-webkit-box-shadow: #CCCCCC 0px 1px 0px inset;-moz-box-shadow: #CCCCCC 0px 1px 0px inset; box-shadow: #CCCCCC 0px 1px 0px inset; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:15px;font-family:tahoma, verdana, arial, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #333333; background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000));
  background-image: -webkit-linear-gradient(top, #333333, #000000);
  background-image: -moz-linear-gradient(top, #333333, #000000);
  background-image: -ms-linear-gradient(top, #333333, #000000);
  background-image: -o-linear-gradient(top, #333333, #000000);
  background-image: linear-gradient(to bottom, #333333, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#333333, endColorstr=#000000);
}

button:hover {
  border:1px solid #666666;
  background-color: #1a1a1a; background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #1a1a1a, #1a1a1a);
  background-image: -moz-linear-gradient(top, #1a1a1a, #1a1a1a);
  background-image: -ms-linear-gradient(top, #1a1a1a, #1a1a1a);
  background-image: -o-linear-gradient(top, #1a1a1a, #1a1a1a);
  background-image: linear-gradient(to bottom, #1a1a1a, #1a1a1a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1a1a1a, endColorstr=#1a1a1a);
}

.round_image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}


.small_round_image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .8);

}

.rounded_icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  background-color: $secondary-color;
}



