// Place all the styles related to the App controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";
//@import 'foundation-icons';
.small-view {
  border: 1px solid silver;
  padding: 1px;
}

#search_box {
  background-color: silver;
}
